@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to right, #98A632, #731702);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, #30090180;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #855B45;
    text-align: center;
    text-shadow: 1px, 1px, 2px, #020101a1;
}

h2{
    color: #731702;
}

p{
    text-align: justify;
}